<%
  @navigation = { 'request' => 'Petición', 'response' => 'Respuesta', 'form' => 'Formulario' }
%>

<%= render 'shared/breadcrumbs', breadcrumbs: [
  { label: 'Inicio', path: root_path },
  { label: 'Webpay Transacción Completa Diferida', path: transaccion_completa_diferida_index_path },
  { label: 'Crear Transacción', path: transaccion_completa_diferida_create_path }
] %>

<h1>Transacción Completa Diferida - Crear transacción</h1>
<p class="mb-32">En este paso sucede la creación de la transacción con el objetivo de obtener un identificador
    único para la misma.</p>

<h2 id="request">Paso 1: Petición</h2>
<p class="mb-16">Comienza importando la librería TransaccionCompleta, y a continuación, crea la transacción
    necesaria.</p>

<pre class="mb-16">
  <code class="language-ruby">
require 'transbank/sdk'

# Configuración de la transacción
@tx = Transbank::Webpay::TransaccionCompleta::Transaction.new(
  ::Transbank::Common::IntegrationCommerceCodes::TRANSACCION_COMPLETA_DEFERRED,
  ::Transbank::Common::IntegrationApiKeys::WEBPAY
)

resp = @tx.create(buy_order, session_id, amount, cvv, card_number, card_expiry)
  </code>
</pre>

<h2 id="response">Paso 2: Respuesta</h2>
<p class="mb-16">Una vez creada la transacción, recibirás los siguientes datos de respuesta:</p>

<pre class="mb-16">
  <code class="language-json"><%= h(JSON.pretty_generate(@response_data)) %></code>
</pre>

<h2 id="form">¡Transacción creada!</h2>
<p class="mb-16">Ahora que hemos creado la transacción, se abren dos opciones para continuar:</p>
<ul class="bullet-list mb-16">
    <li>
        <span class="fw-700">Consultar Cuotas (opcional):</span> Alternativamente puedes realizar consultas de cuotas
        para ofrecer opciones de pago a plazos.
    </li>
    <li>
        <span class="fw-700">Confirmar Transacción:</span> Debes confirmar directamente la transacción para
        finalizar con el proceso de pago.
    </li>
</ul>

<%= form_with url: transaccion_completa_diferida_installments_path, method: :post, data: { turbo: false } do |form| %>
    <div class="tbk-card">
        <span class="tbk-card-title">Formulario de redirección</span>
        
        <div class="input-container">
            <%= form.label :installments_number, "N° de cuotas:", class: "tbk-label" %>
            <%= form.text_field :installments_number, class: "tbk-input-text", value: "3" %>
            <%= form.hidden_field :token, value: @response_data["token"] %>
        </div>
        <div class="tbk-card-footer">
            <%= form.submit "CONSULTAR CUOTAS", class: "tbk-button primary mr-16" %>
            <%= link_to "CONFIRMAR", transaccion_completa_diferida_commit_path(token: @response_data["token"]), class: "tbk-button primary" %>
        </div>
    </div>
<% end %>
