<form action="<%= action %>" method="GET">
  <%= hidden_field_tag :token, token %> 
  <%= hidden_field_tag :buy_order, detail[:buy_order] %> 
  <%= hidden_field_tag :commerce_code, detail[:commerce_code] %> 

  <div class="tbk-refund-card mb-32">
    <div class="input-container">
      <label class="tbk-label" for="amount">Monto a reembolsar:</label>
      <input type="text" id="amount"  name="amount" class="tbk-input-text" value="<%= detail[:amount] %>" />
    </div>

    <div class="tbk-refund-button-container">
      <button class="tbk-button primary">REEMBOLSAR</button>
    </div>
  </div>
</form>
