<%= render 'shared/breadcrumbs', breadcrumbs: [
  { label: 'Inicio', path: root_path },
  { label: 'Webpay Oneclick Mall', path: '/oneclick-mall/start' },
  { label: 'Finalizar inscripción', path: '/oneclick-mall/finish' }
] %>

<h1>Webpay Oneclick Mall - Finalizar inscripción</h1>
<p class="mb-32">
  En esta fase, completaremos el proceso de inscripción, permitiéndonos posteriormente realizar cargos a la
  tarjeta que el tarjetahabiente haya inscrito.
</p>

<h2 id="data">Paso 1: Datos recibidos</h2>
<p class="mb-32">
  Después de finalizar el flujo en el formulario de inscripción, recibirás un GET con la siguiente información:
</p>

<pre>
  <code class="language-ruby">
  <%=@response_url%>?TBK_TOKEN=<%=@token%>
  </code>
</pre>

<h2 id="request">Paso 2: Petición de autorización</h2>
<p class="mb-32">
  Utiliza el token recibido para finalizar la Inscripción mediante una nueva llamada a Oneclick.
</p>

<pre>
  <code class="language-ruby">
  @resp = @inscription.finish(@token) 
  </code>
</pre>

<h2 id="response">Paso 3: Respuesta</h2>
<p class="mb-32">
  Transbank responderá con información crucial. Guarda estos detalles, ya que serán necesarios para autorizar
  transacciones futuras.
</p>

<pre>
  <code class="language-json"><%= JSON.pretty_generate(@respond_data) %></code>
</pre>

<h2 id="authorize">¡La tarjeta ya está inscrita!</h2>
<p class="mb-32">Con la inscripción exitosa se pueden autorizar transacciones.</p>

<h2>Autorizar una transacción</h2>
<p class="mb-32">
  Asegúrate de guardar los datos de la respuesta obtenidos durante la inscripción. Estos serán esenciales para
  llevar a cabo transacciones de manera efectiva.
</p>

<div class="mb-32">
  <%= render partial: 'shared/request_table', locals: { data: @request_data } %>
</div>

<p class="mt-32">
  Después de una inscripción exitosa, tienen dos opciones: autorizar un pago o borrar al usuario que se
  acaba de inscribir.
</p>

<%= form_with url: oneclick_mall_authorize_path, method: :get do %>
  <%= hidden_field_tag :username, @username %>
  <%= hidden_field_tag :tbk_user, @tbk_user %>
  <%= hidden_field_tag :child_commerce_code1, @child_commerce_code1 %>
  <%= hidden_field_tag :child_commerce_code2, @child_commerce_code2 %>
  <div class="tbk-card">
    <p class="mb-16">Tienda 1</p>
    <div class="card-multi-field">
      <div class="input-container">
        <%= label_tag :child_commerce_amount1, 'Monto:', class: 'tbk-label' %>
        <%= number_field_tag :child_commerce_amount1, 10000, class: 'tbk-input-text' %>
      </div>
      <div class="input-container">
        <%= label_tag :child_commerce_installments1, 'Cuotas:', class: 'tbk-label' %>
        <%= number_field_tag :child_commerce_installments1, 0, class: 'tbk-input-text' %>
      </div>
    </div>

    <p class="mb-16 mt-32">Tienda 2</p>
    <div class="card-multi-field">
      <div class="input-container">
        <%= label_tag :child_commerce_amount2, 'Monto:', class: 'tbk-label' %>
        <%= number_field_tag :child_commerce_amount2, 5000, class: 'tbk-input-text' %>
      </div>
      <div class="input-container">
        <%= label_tag :child_commerce_installments2, 'Cuotas:', class: 'tbk-label' %>
        <%= number_field_tag :child_commerce_installments2, 0, class: 'tbk-input-text' %>
      </div>
    </div>

    <div class="tbk-card-footer">
      <%= submit_tag 'AUTORIZAR', class: 'tbk-button primary' %>
    </div>
  </div>
<% end %>

<%= link_to "BORRAR USUARIO", oneclick_mall_delete_url(tbk_user: @tbk_user, username: @username), class: "tbk-button primary" %>
