<%= render 'shared/breadcrumbs', breadcrumbs: [
  { label: 'Inicio', path: root_path },
  { label: 'Webpay Oneclick Mall Diferido', path: '/oneclick-mall-diferido/start' },
  { label: 'Autorizar pago', path: '/oneclick-mall-diferido/authorize' }
] %>

<h1>Webpay Oneclick Mall Diferido - Autorizar pago</h1>
<p class="mb-32">
  En este primer paso, procederemos a autorizar una transacción en la tarjeta que ha sido previamente inscrita.
</p>

<h2 id="request">Paso 1: Petición</h2>
<p class="mb-32">
  Ahora que contamos con el "username" y el "tbk_user" obtenidos durante la inscripción, estamos listos para
  autorizar transacciones en la tarjeta inscrita.
</p>

<pre>
  <code class="language-ruby">
    @details =[
        {
          commerce_code: "child_commerce_code",
          buy_order: "child_buy_order",
          amount: 1000,
          installments_number: 0
        },
        {
          commerce_code: "child_commerce_code2",
          buy_order: "child_buy_order2",
          amount: 5000,
          installments_number: 0
        }
      ]
    @resp = @tx.authorize(@username, @tbk_user, @buy_order, @details)
  </code>
</pre>

<h2 id="response">Paso 2: Respuesta</h2>
<p class="mb-32">
  Una vez que la transacción ha sido autorizada Transbank proporcionará la siguiente información. 
  Es fundamental conservar esta respuesta y verificar que el campo "response_code" 
  tenga un valor de cero y que el campo "status" sea "AUTHORIZED".
</p>

<pre>
  <code class="language-json"><%= JSON.pretty_generate(@respond_data) %></code>
</pre>

<h2>¡Casi listo!</h2>
<p class="mb-32">
  Ya puedes mostrar al usuario una página de éxito de la transacción. Debes tener en cuenta que la transacción 
  aun no ha sido capturada solo ha sido retenido el saldo en la tarjeta del Tarjetahabiente
</p>

<% @respond_data[:details].each do |detail| %>
  <%= form_with url: oneclick_mall_deferred_capture_path, method: :get do %>
    <%= hidden_field_tag :buy_order, @buy_order %>
    <div class="tbk-card">
      <div class="card-multi-field">
        <div class="input-container">
          <%= label_tag :child_commerce_code, "Código de comercio (tienda hija):", class: "tbk-label" %>
          <%= text_field_tag :child_commerce_code, detail[:commerce_code], class: "tbk-input-text" %>
        </div>
        <div class="input-container">
          <%= label_tag :child_buy_order, "Orden de compra (tienda hija):", class: "tbk-label" %>
          <%= text_field_tag :child_buy_order, detail[:buy_order], class: "tbk-input-text" %>
        </div>
        <div class="input-container">
          <%= label_tag :authorization_code, "Código de autorización (tienda hija):", class: "tbk-label" %>
          <%= text_field_tag :authorization_code, detail[:authorization_code], class: "tbk-input-text" %>
        </div>
        <div class="input-container">
          <%= label_tag :amount, "Monto a capturar (tienda hija):", class: "tbk-label" %>
          <%= text_field_tag :amount, detail[:amount], class: "tbk-input-text" %>
        </div>
      </div>
      <div class="tbk-card-footer">
        <%= submit_tag "CAPTURAR", class: "tbk-button primary" %>
      </div>
    </div>
  <% end %>
<% end %>

<%= link_to "CONSULTAR ESTADO",
            oneclick_mall_deferred_status_url(buy_order: @respond_data[:buy_order]),
            class: "tbk-button primary mb-32" %>

