<%= render 'shared/breadcrumbs', breadcrumbs: [
  { label: 'Inicio', path: root_path },
  { label: 'Webpay Oneclick Mall Diferido', path: '/oneclick-mall-diferido/start' },
  { label: 'Capturar pago', path: '/oneclick-mall-diferido/capture' }
] %>

<h1>Webpay Oneclick Mall Diferido - Capturar transacción diferida</h1>
<p class="mb-32">
  En este paso debemos capturar la transacción para realmente capturar el dinero que había sido previamente
  reservado al hacer la transacción.
</p>

<h2 id="request">Paso 1: Petición</h2>
<p class="mb-32">
  Para capturar una transacción necesitaremos el código de comercio de la tienda hija y Orden de compra de la tienda hija, 
  Código de autorización y monto a capturar. Se hace de la siguiente manera.
</p>

<pre>
  <code class="language-ruby">
  @resp = @tx.capture(@child_commerce_code, @child_buy_order, @authorization_code, @amount)    
  </code>
</pre>

<h2 id="response">Paso 2: Respuesta</h2>
<p class="mb-32">
  Una vez creada la transacción, recibirás los siguientes datos de respuesta:
</p>

<pre>
  <code class="language-json"><%= JSON.pretty_generate(@respond_data) %></code>
</pre>

<h2 id="operations">Otras utilidades</h2>
<p class="mb-32">
  Luego de capturada la transacción puedes Reembolsar (reversar o anular) el pago dependiendo 
  de ciertas condiciones comerciales (Reversa en las primeras 3 horas de la captura, anulación posterior a eso). 
  También puedes consultar el estado de la transacción hasta 7 días después de realizada.
</p>

<form action="<%=oneclick_mall_deferred_refund_url %>" method="GET">
  <%= hidden_field_tag :buy_order, @buy_order %> 
  <%= hidden_field_tag :child_buy_order, @child_buy_order %> 
  <%= hidden_field_tag :authorization_code, @authorization_code %> 
  <%= hidden_field_tag :child_commerce_code, @child_commerce_code %> 
  <div class="tbk-refund-card mb-32">
    <div class="input-container">
      <label class="tbk-label" for="amount" >Monto a reembolsar:</label>
      <input type="text" id="amount" name="amount" class="tbk-input-text" value="<%= @respond_data[:captured_amount] %>" />
    </div>
    <div class="tbk-refund-button-container">
    </div>
    
    <div class="tbk-refund-button-container">
      <button class="tbk-button primary">REEMBOLSAR</button>
      <%= link_to "CONSULTAR ESTADO", oneclick_mall_deferred_status_url(buy_order: @buy_order), class: "tbk-button primary" %>
    </div>
  </div>
</form>  
