<%= render 'shared/breadcrumbs', breadcrumbs: [
  { label: 'Inicio', path: root_path },
  { label: 'Webpay Oneclick Mall Diferido', path: '/oneclick-mall-diferido/start' }
] %>

<h1>Webpay Oneclick Mall Diferido - Creación de Inscripción</h1>
<p class="mb-32">
  En esta etapa comienza el proceso de inscripción del medio de pago. Este paso inicial es fundamental,
  para dirigir al tarjetahabiente al formulario de inscripción.
</p>
<p class="mb-32">Todas las transacciones en este proyecto de ejemplo son realizadas en ambiente de integración.</p>

<h2 id="request">Paso 1: Petición</h2>
<ol class="bullet-list mb-32">
  <li>Comienza por importar la librería Oneclick en tu proyecto.</li>
  <li>Después podrás iniciar una inscripción.</li>
</ol>

  <pre>
  <code class="language-ruby">
    @inscription = Transbank::Webpay::Oneclick::MallInscription.new(commerce_code, api_key, environment)
    @resp =@inscription.start(
      user_name,
      email,
      return_url
    )
  </code>
</pre>

  <h2 id="response">Paso 2: Respuesta</h2>
  <p class="mb-32">
    Una vez que hayas iniciado la inscripción, aquí encontrarás los datos de respuesta generados por el proceso.
  </p>

<pre>
  <code class="language-json"><%= JSON.pretty_generate(@respond_data) %></code>
</pre>

  <h2 id="form">Paso 3: Creación del formulario</h2>
  <p class="mb-32">
    Utiliza estos datos de respuesta para generar y presentar un formulario de Inscripción al Tarjetahabiente.
  </p>

<pre>
  <code class="language-html">
<%= h(<<~HTML)
<form action="#{@respond_data["url_webpay"]}" method="POST">
  <input type="hidden" name="TBK_TOKEN" value="#{@respond_data["token"]}" />
  <input type="submit" value="Pagar" />
</form>
HTML
%>
  </code>
</pre>

  <h2 id="example">Ejemplo</h2>
  <p class="mb-32">
    Para llevar a cabo una Inscripción en nuestro sistema, primero debemos crearla. Utilizaremos los siguientes
    datos para configurar la inscripción:
  </p>

<div class="mb-32">
  <%= render partial: 'shared/request_table', locals: { data: @request_data } %>
</div>

  <p class="mb-32">
    Por último, con la respuesta del servicio que confirma la creación de la transacción, procedemos
    a crear el formulario de pago. Para fines de este ejemplo, haremos visible el campo "TBK_TOKEN", el cual es
    esencial para completar el proceso de pago de manera exitosa.
  </p>

  <span>
    Antes de continuar al formulario de Webpay, asegúrate de contar con los datos de las tarjetas de prueba que
    están en la
    <%= link_to 'documentación.', 'https://transbankdevelopers.cl/documentacion/como_empezar#tarjetas-de-prueba', class: 'tbk-link' %>
  </span>


<form action="<%= @respond_data[:url_webpay] %>" method="POST">
  <div class="tbk-card">
    <span class="tbk-card-title">Formulario de redirección</span>
    <label class="tbk-label" for="TBK_TOKEN">Token</label>
    <input type="text" name="TBK_TOKEN" class="tbk-input-text" value="<%= @respond_data[:token] %>" />
    <div class="tbk-card-footer">
      <button class="tbk-button primary">INSCRIBIR</button>
    </div>
  </div>
</form>
