
<%
  @navigation = { 'request' => 'Petición', 'response' => 'Respuesta', 'form' => 'Formulario' }
%>
<%= render 'shared/breadcrumbs', breadcrumbs: [
  { label: 'Inicio', path: root_path },
  { label: 'Webpay Transacción Completa', path: transaccion_completa_index_path },
  { label: 'Confirmar', path: transaccion_completa_commit_path }
] %>

<h1>Transacción Completa - Confirmar transacción</h1>
<p class="mb-32">En este paso crucial, procederemos a confirmar la transacción con el objetivo de notificar a
    Transbank que hemos recibido la transacción de manera exitosa. Es fundamental destacar que si no se confirma la
    transacción, esta será caducada.</p>

<h2 id="request">Paso 1: Petición</h2>
<p class="mb-32">Para confirmar la transacción, debes enviar el token correspondiente. En el caso de pagos a
    plazos, también debes incluir el ID de la consulta de cuotas. En algunos casos, será necesario proporcionar el
    índice del periodo diferido y un valor boolean indicando si se tomará el periodo de gracia.
</p>

<pre class="mb-16">
  <code class="language-ruby">
# Configuración de la transacción
@tx = Transbank::Webpay::TransaccionCompleta::Transaction.new(
  ::Transbank::Common::IntegrationCommerceCodes::TRANSACCION_COMPLETA,
  ::Transbank::Common::IntegrationApiKeys::WEBPAY
)
resp = @tx.commit(token, id_query_installments, deferred_period_index, grace_period);
  </code>
</pre>

<h2 id="response">Paso 2: Respuesta</h2>
<p>Una vez que la transacción ha sido confirmada Transbank proporcionará la siguiente información. Es fundamental
    conservar esta respuesta y verificar que el campo "response_code" tenga un valor de cero y que el campo "status"
    sea "AUTHORIZED".</p>

<pre class="mb-16">
  <code class="language-json"><%= JSON.pretty_generate(@response_data.to_h) %></code>
</pre>

<h2 id="form">¡Listo!</h2>
<p class="mb-16">Con la transacción confirmada, puedes mostrar al usuario una página de éxito de la transacción,
    proporcionándole la confirmación de que el proceso se ha completado con éxito.</p>

<p>Después de confirmar la transacción, podrás realizar otras operaciones útiles:</p>
<ul class="bullet-list">
    <li><span class="fw-700">Reembolsar:</span> Puedes reversar o anular el pago según ciertas condiciones
        comerciales.</li>
    <li><span class="fw-700">Consultar Estado:</span> Hasta 7 días después de realizada la transacción, podrás
        consultar el estado de la transacción.</li>
</ul>

<%= form_with url: transaccion_completa_refund_path, method: :get, data: { turbo: false } do |form| %>
    <div class="tbk-card">
        <div class="input-container mb-32">
            <%= form.label :amount, "Monto a reembolsar", class: "tbk-label" %>
            <%= form.text_field :amount, class: "tbk-input-text", value: @amount %>
            <%= form.hidden_field :token, value: @request_data&.fetch(:token) %>
        </div>

        <div class="tbk-card-footer">
            <%= form.submit "REEMBOLSAR", class: "tbk-button primary" %>
        </div>
    </div>
<% end %>

<%= link_to "CONSULTAR ESTADO", transaccion_completa_status_path(token: @request_data&.fetch(:token)), class: "tbk-button primary mb-32" %>
